<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <img  src="../assets/images/logo.png">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" id="home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="user-registration" id="user">User registration</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="user-profile" id="profile">User profile</a>
          </li>
       </ul>

    </div>
        </div>
</nav>
