
<div class="row" id="d1">
   <div class="col-sm-5"></div>
     <div class="col-sm-6">
       <br><br>
         <Button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#mymodal">
           Register
           </Button>
       </div>
  </div>

<div class="modal fade" id="mymodal" role="dialog">
     <div class="modal-dialog">
        <div class="modal-content" >
           <div class="modal-header" id="m">
               <h4 class="modal-title" id="head">Registration form</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          
          
         <div class="modal-body mb-3 mt-3">         
            <div class="div1">
             <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder=" First name" onkeypress="javascript:return isString(event)" maxlength="20">
          </div>
              
              <div class="col-sm-1"></div>
                 <div class="col-sm-3">
                   <input type="text" class="form-control" placeholder="Last name">
                   </div>
             </div><br>

          <div class="row">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                 <input type="text" class="form-control" placeholder="Email">
               </div>
          </div><br>

    <div class="row">
        <div class="col-sm-2"></div>
         <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="size">
           </div>
     </div><br>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <label for="customRange2" class="form-label">Age</label>
          <input type="range" class="form-range" min="0" max="5" id="customRange2">
          </div>
    </div><br>
    
    
    
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          
          <select class="form-control">
            <option>State</option>
            <option>Maharashtra</option>
            <option>karnataka</option>
            <option>Goa</option>
            <option>Madhya Pradesh</option>
          </select>
         </div>
      </div><br> 

      

      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          
          <select class="form-control">
            <option>Country</option>
            <option>India</option>
            <option>Singapore</option>
            <option>Russia</option>
            <option>America</option>
          </select>
        </div>
      </div><br> 

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <textarea placeholder="Address1" class="form-control"></textarea>
          </div>
         </div><br>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <textarea placeholder="Address2" class="form-control"></textarea>
            </div>
          </div><br>

          </div>
          </div>
          </div>
  
          <div class="modal-footer" style="background-color:black;">
              <button type="submit"  class="btn btn-primary" onclick="alert('submitted successfully')">Submit</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cancel</button>
          </div>
          </div>
        </div>
      
      
  

  