
<br><br>
<div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img  src="../assets/images/photo.jpg" height="250px" width="250px"><br><br>
            <button type="button" class="btn btn-warning">Edit Photo</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-warning">Edit profile</button>
        </div>

            
            <div class="col-sm-4">

                <p>  i'm Rutuja Govind Birje I am 22 years old
                    and you can send your email to
                    rutubirje@gmail.com i am belongs from kolhapur
                    but currently staying in pune i am an angular
                    developer I like to play volleyball and travelling
                </p><br>
                  <button type="button" class="btn btn-success">I Agree</button>
           </div>
                  <div class="col-sm-2"></div>

    </div>
</div>